<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CAMILE</title>
	<link rel="stylesheet" href="{{url_for('static',filename='CSS/Diseño.css')}}">
</head>
<body>
	<div id="container">

		<header>

	     <div class="text">
	     		<div class="logo">
	     			<p><a><img src="/static/imagen/Logo Ists.jpg" alt="Sucre"></a></p>
	     		</div>
	    
				<div class="logo2">
					<p><img src="/static/imagen/electronica.jpg" alt="Superior"></p>
				</div>
					<h1>CAMILE</h1>
					
		            <h3>Control Aforo Mediante Internet Laboratorios Electrónica</h3>	
	     </div>

		 
	     
		</header>

		

		<nav>
			<ul>
				<li>
					<a href="/">
						Inicio
					</a>
				</li>

			    <li>
					<a href="/monitoreo">
						Camaras Monitoreo 
					</a>
				</li>
				<li>
					<a href="/temperatura">
						Temperatura
					</a>
				</li>
			</ul>
		</nav>

		<div class="clearfix"></div>

		<section id="content" >
			<article class="article">
				<h2>Titulo del artìculo</h2>
				<p>Texto del Artìculo</p>
				
			</article>
			<article class="article">
				<h2>Titulo del artìculo</h2>
				<p>Texto del Artìculo</p>
				
			</article>
			<article class="article">
				<h2>Titulo del artìculo</h2>
				<p>Texto del Artìculo</p>
				
			</article>
		</section>

		<aside>
			<h2>Barra lateral</h2>
			<form>
				<input type="text">
				<input type="submit" value="Buscar"/>
			</form>
		</aside>

		<div class="clearfix"></div>

		<footer>
			Seleccion de Pestañas &copy; 2021
		</footer>

	</div>
	
</body>
</html>