<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Animal Crossing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
</head>
<body>
	
<!--==== navbar  ==-->
<nav class="navbar navbar-expand-sm navbar-dark bg-danger" >
	<div class="container-fluid">
		<a href="" class="navbar-brand">
		    <img src="img/logotipo-sucre.png" alt="" width="50">	
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>			
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav" >
				<li class="nav-item"><a style="color:black;" class="nav-link" href="index.html">home</a></li>
				<li class="nav-item"><a style="color:black;" class="nav-link" href="uno.html">Práctica 1</a></li>
				<li class="nav-item"><a style="color:black;" class="nav-link" href="dos.html">Práctica 2</a></li>
				<li class="nav-item"><a style="color:black;" class="nav-link" href="dos.html">Práctica 3</a></li>
				<li class="nav-item"><a style="color:black;" class="nav-link" href="dos.html">Práctica 4</a></li>
				<li class="nav-item"><a style="color:black;" class="nav-link" href="dos.html">docentes</a></li>
			</ul>
		</div>


	</div>

</nav>

<br><br>

<h3 class="row justify-content-center">PRÁCTICAS DE LABORATORIO ON LINE</h3>
<h3 class="row justify-content-center">MICROCONTROLADORES</h3>
<h3 class="row justify-content-center">IST SUCRE - CARRERA DE ELECTRÓNICA</h3>

<!--==== carrousel  ==-->
<div class="container-md">
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="img/slide04.jpg" class="d-block w-100" alt="...">
	    </div>
	    <div class="carousel-item">
	      <img src="img/slide05.jpg" class="d-block w-100" alt="...">
	    </div>
	    <div class="carousel-item">
	      <img src="img/logo-sucre3.jpg" class="d-block w-100 " alt="...">
	    </div>
	  </div>
	</div>
</div>
<h1 class="text-center" style="background: yellow;">--</h1>
<!--==== games  ==-->
<div id = "games" style="background: url(img/bg-03.png), linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(99,196,255,1) 57%);background-repeat: repeat-x; ">
	<div class="container-md p-1">
		<div class="row pt-5">
			<h3 class="text-center pb-5 pt-1 h1"> Proyectos de Microcontroladores </h3>
			
		</div>
		<div class="row">
			<div class="col-sm">
				<div class="card w-100 mb-5" style="width: 18rem;">
  				<img src="img/card10.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Arduino Uno</h5>
				    <p class="card-text">Arduino UNO es una placa basada en el microcontrolador ATmega328P. Tiene 14 pines de entrada/salida digital (de los cuales 6 pueden ser usando con PWM), 6 entradas analógicas, un cristal de 16Mhz, conexión USB, conector jack de alimentación, terminales para conexión ICSP y un botón de reseteo. Tiene toda la electrónica necesaria para que el microcontrolador opere, simplemente hay que conectarlo a la energía por el puerto USB .</p>
				  </div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card w-100 mb-5" style="width: 18rem;">
  				<img src="img/card11.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Arduino Mega</h5>
				    <p class="card-text">El Arduino Mega 2560 es una placa de desarrollo basada en el microcontrolador ATmega2560. Tiene 54 entradas/salidas digitales (de las cuales 15 pueden ser usadas como salidas PWM), 16 entradas analógicas, 4 UARTs, un cristal de 16Mhz, conexión USB, jack para alimentación DC, conector ICSP, y un botón de reseteo.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card w-100 mb-5" style="width: 18rem;">
  				<img src="img/card12.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">ESP32</h5>
				    <p class="card-text">ESP32 es la denominación de una familia de chips SoC de bajo costo y consumo de energía, con tecnología Wi-Fi y Bluetooth de modo dual integrada. El ESP32 emplea un microprocesador Tensilica Xtensa LX6 en sus variantes de simple y doble núcleo e incluye interruptores de antena, balun de radiofrecuencia, amplificador de potencia, amplificador receptor de bajo ruido, filtros, y módulos de administración de energía. </p>
				  </div>
				</div>
			</div>
		</div>

	</div>	
</div>

	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>